.popup-content-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 10px;
  border: 1px solid rgb(151, 151, 151, 0.3);
  padding: 10px;
}
h3 {
  padding-left: 10px;
}
.main-wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid rgb(151, 151, 151, 0.3);
  background-color: white;
  width: 100%;
}

.save-button {
  height: 30px;
  background-color: rgb(250, 210, 34);
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.cancel-button {
  height: 30px;
  background-color: rgb(214, 214, 214);
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.option-wrapper {
  display: flex;
  flex: 1;
  align-self: center;
  justify-self: center;
  align-content: center;
  align-items: center;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  cursor: pointer;
}
