$main-green: #188ea2;
$main-blue: #032b48;
$white: #ffffff;
$sky-blue: #38cde5;
$shadow-gray: #6b6b6b42;
$main-background: #cccdcd;
$text-gray: #333b4d;
$header-gray: #333b4d99;
$background-gray: #f2f1f1;
$font-family: 'Montserrat', sans-serif;
